.internal-about {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
  @include responsive(cellphone) {
		background: url("../img/bg-sobre-mobile.jpg") no-repeat center;
  }
}

.mission_about {
  padding-top: 60px;
}
.mission_about p {
  @include type-1(18);
  margin-bottom: 1em;
  padding-right: 60px;
  @include responsive(cellphone) {
    padding-right: 0px;
		@include type-1(14);
  }
}
.mission_about ul li {
  @include type-2(18);
  @include responsive(cellphone) {
    @include type-1(14);
		line-height: 25px;
  }
}

.internal-subtitle {
  @include type-1(24);
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.internal-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: $black;
}

.grid-16 img {
  padding-top: 20px;
}