.internal-contact {
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
  @include responsive(cellphone) {
		background: url("../img/bg-contato-mobile.jpg") no-repeat center;
  }
}

.contact {
  color: $black;
  padding: 40px 0 60px 0;
}
.contact_form {
  padding-right: 60px;
  @include responsive(cellphone) {
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.contact_form label {
  display: block;
  @include type-2(18);
  margin-bottom: 4px;
}
.contact_form input, .contact_form textarea {
  background: none;
  border: 3px solid $primary-color;
  color: $black;
  display: block;
  @include type-2(14);
  margin-bottom: 10px;
  outline: none;
  padding: 7px 10px;
  width: 100%;
}
.contact_form textarea {
  resize: vertical;
  min-height: 40px;
  max-height: 150px;
  margin-bottom: 20px;
}

.contact_form button.btn {
  background-color: $white;
  padding: 10px 40px;
}
.contact_form button.btn:hover {
  color: $white;
  background-color: $primary-color;
  cursor: pointer;
}

.contact_data {
  color: $black;
}
.contact_data h3 {
  color: $primary-color;
  @include type-1(18);
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.contact_data span {
  display: block;
  @include type-2(18);
  line-height: 30px;
}
.contact_data span:nth-child(3) {
  margin-bottom: 20px;
}
.contact_data span:nth-child(5) {
  margin-bottom: 40px;
}

.contact_data p {
  margin: 20px 0 10px 0;
}

.contact_data ul li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
}
.contact_data ul li a {
  display: flex;
  @include type-1(34);
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  border: 3px solid $primary-color;
  color: $primary-color;
  padding: 10px;
  transition: all 0.3s;
}
.contact_data ul li a:hover{
  color: $white;
  background: $primary-color;
  border: 3px solid $primary-color;
}

.map-photo {
  margin-bottom: 60px;
}