/* ESTILOS GERAIS */
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  @include type-2(14);
}
img {
  display: block;
  max-width: 100%;
}
.btn {
  @include type-1(14);
  font-weight: bold;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 3px solid $primary-color;
  color: $primary-color;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: $primary-color;
  color: $white;
}

.subtitle {
  @include type-1(24);
  font-weight: bold;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: $black;
  margin: 8px auto;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  padding: 9px 0;
  height: 80px;
  z-index: 10;
  @include responsive(cellphone) {
    position: relative;
		height: auto;
		padding: 0;
		padding-bottom: 10px;
  }
}
.header a img {
  @include responsive(tablet) {
    max-width: none;
  }
  @include responsive(cellphone) {
    margin: 10px auto;
  }
}

.header_menu {
  text-align: right;
  margin-top: 21px;
  @include responsive(cellphone) {
    text-align: center;
    margin: 0;
  }
}
.header_menu ul li {
  display: inline;
  margin-left: 20px;
  @include responsive(cellphone) {
    margin: 0;
  }
}
.header_menu ul li a {
  color: $black;
  font-weight: bold;
  @include type-1(14);
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding: 10px 0;
  transition: color .3s;
  @include responsive(cellphone) {
    display: block;
		border: 4px solid $black;
		width: 140px;
		float: left;
		margin: 3px;
		transition: all .3s;
  }
}
.header_menu ul li a:after{
  content: ' ';
}
.header_menu ul li a:hover {
  color: $white;
  @include responsive(cellphone) {
    border-color: $white;
  }
}
.header_menu ul li a.menu_active {
  color: $white;
  @include responsive(cellphone) {
    border-color: $white;
  }
}

/* INTRODUÇÃO */
.intro {
  width: 100%;
  height: 380px;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  margin-top: 80px;
  text-align: center;
  color: $white;
  @include responsive(cellphone) {
    margin-top: 0;
		background: url(../img/bg-mobile.jpg) no-repeat center;
  }
}

.intro h1, blockquote cite {
  text-transform: uppercase;
  font-weight: bold;
}
.intro h1{
  padding-top: 80px;
  @include type-1(48);
  @include responsive(cellphone) {
    padding: 20px;
		@include type-1(36);
  }
}
.external-quote {
  text-align: center;
  color: $white;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 52px;
  @include responsive(cellphone) {
    margin-bottom: 60px;
  }
}
.external-quote cite {
  @include type-1(14);
  letter-spacing: 0.7px;
  font-style: normal;
}

.external-quote p {
  font-style: italic;
}
.external-quote p::after, .external-quote p::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: $white;
  margin: 14px auto 10px auto;
}
/* INTRODUÇÃO INTERNA */
.internal-intro {
  height: 160px;
  width: 100%;
  margin-top: 80px;
  color: $white;
  text-align: center;
  padding-top: 40px;
  @include responsive(cellphone) {
    margin-top: 0;
  }
}

.internal-intro h1 {
  text-transform: uppercase;
  font-weight: bold;
  @include type-1(36);
}
.internal-intro h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: $white;
  margin: 5px auto 11px auto;
}

/* PRODUTOS */
.products {
  padding: 60px 0;
}
.products img {
  padding: 20px;
}
.products_list li {
  background-color: $primary-color;
  text-align: center;
}
.products_list li h3 {
  font-weight: bold;
  @include type-1(18);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 20px;
}
.products_list li h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  margin: 2px auto;
  background-color: $black;
}
.products_list li p {
  padding: 10px 20px 20px 20px;
}
.products_list_icon {
  background-color: $black;
  padding: 30px;
}

.call {
  clear: both;
  padding-top: 40px;
  text-align: center;
  @include responsive(cellphone) {
    padding-top: 10px;
  }
}
.call p {
  margin-bottom: 20px;
}

/* PORTFÓLIO */
.portfolio {
  width: 100%;
  background-color: $black;
  padding: 60px 0;
}
.portfolio .subtitle {
  color: $primary-color;
}
.portfolio .subtitle::after {
  background-color: $primary-color;
}
.portfolio_items li {
  @include responsive(cellphone) {
	margin: 20px 0;
  }
}

.portfolio_items li:last-child {
  margin-top: 20px;
}

.portfolio .btn:hover {
  color: $black;
}

.portfolio .call p {
  color: $white;
}

/* QUALIDADE */
.quality {
  padding: 60px 0;
}
.quality::after {
  content: '';
  width: 634px;
  height: 83px;
  display: block;
  background: url(../img/linhas.svg);
  position: absolute;
  top: 209px;
  right: 162px;
  z-index: -1;
  @include responsive(tablet) {
		right: 66px;
  }
  @include responsive(cellphone) {
    display: none;
  }
}
.quality img {
  margin: 0 auto;
}
.quality_list {
  padding-top: 20px;
  overflow: hidden;
}
.quality_list li {
  text-align: center;
  padding: 0 40px;
  @include responsive(tablet) {
    padding: 0 10px;
  }
  @include responsive(cellphone) {
    padding: 0;
    margin: 0 0 20px 0;
  }
}
.quality_list li h3 {
  font-weight: bold;
  @include type-1(18);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 20px;
}
.quality_list li h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  margin: 6px auto;
  background-color: $black;
}

/* QUEBRA */
.break {
  width: 100%;
  height: 220px;
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  padding-top: 40px
}
.break .external-quote {
  max-width: 400px;
}

/* RODAPÉ */
.footer-black {
  background-color: $black;
  color: $white;
  padding: 20px 0 30px 0;
  width: 100%;
}
.footer-black h3 {
  color: $primary-color;
  font-weight: bold;
  @include type-1(18);
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.footer-black h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  margin: 6px 0 15px 0;
  background-color: $primary-color;
}

.footer_history {
  padding-right: 40px;
}

.footer_contact ul li {
  @include type-2(14);
}

.footer_social ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer_social ul li a {
  display: flex;
  @include type-1(34);
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  border: 3px solid $primary-color;
  color: $primary-color;
  padding: 10px;
  transition: all 0.3s;
  @include responsive(tablet) {
		padding: 6px;
  }
}
.footer_social ul li a:hover{
  color: $black;
  background: $primary-color;
  border: 3px solid $primary-color;
}
.footer_social ul li a img {
  @include responsive(tablet) {
	  height: 26px;
    width: 26px;
  }
}


/* COPYRIGHT */
.copyright {
  width: 100%;
  background-color: $primary-color;
  padding: 20px 0;
}
.copyright p {
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
}

/* SLIDE JS */
.js [data-slide] {
  position: relative;
}
.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}
.js [data-slide-nav] {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.js [data-slide-nav] > button {
  outline: none;
  display: inline-block;
  width: 12px;
  margin: 4px;
  height: 12px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  background: #1d1d1d;
  text-indent: -100px;
  overflow: hidden;
}
.js [data-slide-nav] > button:hover {
  cursor: pointer;
}
.js [data-slide-nav] > button.active {
  background: $primary-color;
}

.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform .8s, opacity .8s;
}

.fadeInDown {
  transform: translate3d(0,-20px,0);
}
.fadeInUp {
  transform: translate3d(0,20px,0);
}
.fadeInRight {
  transform: translate3d(20px,0,0);
}
.fadeInLeft {
  transform: translate3d(-20px,0,0);
}

.hidden {
  visibility: hidden;
  height: 0px;
  position: absolute;
}

#form-error {
  color: #DC3545;
}
#form-success {
  color: #28A745;
}
#form-error h2, #form-success h2 {
  font-weight: bold;
}