.internal-products {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
  @include responsive(cellphone) {
	  background: url("../img/bg-produtos-mobile.jpg") no-repeat center;
  }
}

.products_item {
  padding-top: 60px;
}
.products_item h2 {
  color: $white;
  @include type-1(36);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -55px;
  @include responsive(tablet) {
    top: -150px;
    margin-bottom: -55px;
  }
  @include responsive(cellphone) {
    top: -150px;
    margin-bottom: -67px;
  }
}

.products_item h2::after, .products_item h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: $white;
  margin: 6px auto 8px auto;
}

.product_icon {
  background: $black;
  padding: 70px 0;
  @include responsive(tablet) {
		padding: 41px 0;
  }
}
.product_icon img {
  margin: 0 auto;
}

.product_info {
	background-color: $black;
}

.product_info p{
	color: $white;
  @include type-1(18);
	line-height: 25px;
	height: 180px;
  padding: 30px 30px;
  @include responsive(tablet) {
    @include type-1(14);
		height: 122px;
		padding: 15px 20px;
		margin-bottom: 8px;
  }
  @include responsive(cellphone) {
    @include type-1(14);
		line-height: 20px;
		height: auto;
		padding: 15px 20px;
  }
}

.product_info ul li {
	background: $primary-color;
	text-transform: uppercase;
  @include type-1(18);
	line-height: 20px;
	font-weight: bold;
	float: left;
	width: 229px;
	height: 49px;
	text-align: center;
  padding-top: 16px;
  @include responsive(tablet) {
    font-size: 16px;
		width: 181px;
		height: 45px;
  }
  @include responsive(cellphone) {
    font-size: 16px;
		width: 149px;
		height: 49px;
  }
}
.product_info ul li:nth-child(1), .product_info ul li:nth-child(2) {
  margin-bottom: 2px;
}
.product_info ul li:nth-child(odd) {
  margin-right: 2px;
}

.subtitle {
  color: $primary-color;
}
.subtitle::after {
  background: $primary-color;
}

.orcamento {
  background: $black;
  color: $white;
  width: 100%;
  margin-top: 60px;
  padding: 30px 0;
}
.form {
  padding-right: 60px;
  @include responsive(cellphone) {
    padding-right: 0;
  }
}
.form label {
  display: block;
  @include type-2(18);
  margin-bottom: 4px;
}
.form input, .form textarea {
  background: none;
  border: 3px solid $primary-color;
  color: $white;
  display: block;
  @include type-2(14);
  margin-bottom: 10px;
  outline: none;
  padding: 7px 10px;
  width: 100%;
}
.form textarea {
  resize: vertical;
  min-height: 40px;
  max-height: 150px;
  margin-bottom: 20px;
}

.form button.btn {
  background-color: black;
  padding: 10px 40px;
}
.form button.btn:hover {
  color: $black;
  background-color: $primary-color;
  cursor: pointer;
}

.data {
  color: $white;
}
.data h3 {
  color: $primary-color;
  @include type-1(18);
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.data span {
  display: block;
  @include type-2(18);
}
.data span+span {
  margin-bottom: 40px;
}

.data p {
  margin: 20px 0 10px 0;
}
.data ul {
  padding-right: 60px;
  @include responsive(cellphone) {
    padding-right: 0;
  }
}
.data ul li {
  @include type-2(18);
  padding: 10px 15px;
}
.data ul li:nth-child(odd) {
  background-color: #1d1d1d;
}