<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bikcraft - Bicicletas Personalizadas</title>
  <meta name="description" content="Compre a sua bicicleta personalizada na Bikcraft. Possuímos modelos Passeio, Retrô e Esporte.">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bikcraft - Bicicletas Personalizadas"/>
  <meta property="og:description" content="Compre a sua bicicleta personalizada na Bikcraft. Possuímos modelos Passeio, Retrô e Esporte."/>
  <meta property="og:url" content="http://devmagno.github.io/bikcraft"/>
  <meta property="og:image" content="http://devmagno.github.io/bikcraft/img/og-image.png"/>
  <meta property="og:site_name" content="Bikcraft"/>

  <script src="https://kit.fontawesome.com/77daa57238.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#FEC63E">

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/style.css">
  <script>document.documentElement.classList.add("js")</script>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="index.html" class="grid-2">
        <img src="../img/bikcraft.svg" alt="Bikcraft">
      </a>
      <nav class="header_menu grid-14">
        <ul>
          <li><a href="about.html">Sobre</a></li>
          <li><a href="products.html">Produtos</a></li>
          <li><a href="portfolio.html">Portfólio</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="intro">
    <div class="container">
      <h1 data-anime="400" class="fadeInDown">Bicicletas feitas a mão</h1>
      <blockquote data-anime="800" class="external-quote fadeInDown">
      <p>"Não tenha nada em sua casa que você não considere útil ou acredita ser bonito."</p>
      <cite>William Morris</cite>
      </blockquote>
      <div data-anime="900" class="fadeInUp">
        <a href="products.html" class="btn">Orçamento</a>
      </div>
    </div>
  </section>
  
  <section class="products container">
    <h2 class="subtitle fadeInDown" data-anime="1600">Produtos</h2>
    <ul class="products_list">
      <li class="grid-1-3 fadeInUp" data-anime="1800">
        <div class="products_list_icon">
          <img src="../img/produtos/passeio.svg" alt="Bicicletas de passeio">
        </div>
        <h3>Passeio</h3>
        <p>
          Muito melhor do que passear pela orla a vidros fechados.
        </p>
      </li>
      <li class="grid-1-3 fadeInUp" data-anime="2000">
        <div class="products_list_icon">
          <img src="../img/produtos/esporte.svg" alt="Bicicletas esportivas">
        </div>
        <h3>Esporte</h3>
        <p>
          Mais rápida do que Forrest Gump, ninguém vai pegar você.
        </p>
      </li>
      <li class="grid-1-3 fadeInUp" data-anime="2200">
        <div class="products_list_icon">
          <img src="../img/produtos/retro.svg" alt="Bicicletas retrô">
        </div>
        <h3>Retrô</h3>
        <p>
          O passado volta para lembrarmos o que devemos fazer no futuro.
        </p>
      </li>
    </ul>
    <div class="call fadeInDown" data-anime="2300">
      <p>Clique aqui e veja os detalhes dos produtos</p>
      <a href="products.html" class="btn">Produtos</a>
    </div>
  </section>

  <section class="portfolio">
    <h2 class="subtitle fadeInDown" data-anime="2000">Portfólio</h2>
    <div class="container" data-slide="portfolio">
      <ul class="portfolio_items">
        <li class="grid-8">
          <img src="../img/portfolio/retro.jpg" alt="Bicicleta no estilo retrô">
        </li>
        <li class="grid-8">
          <img src="../img/portfolio/passeio.jpg" alt="Bicicleta de passeio">
        </li>
        <li class="grid-16">
          <img src="../img/portfolio/esporte.jpg" alt="Bicicleta esportiva">
        </li>
      </ul>
      <ul class="portfolio_items">
        <li class="grid-8">
          <img src="../img/portfolio/passeio.jpg" alt="Bicicleta de passeio">
        </li>
        <li class="grid-8">
          <img src="../img/portfolio/retro.jpg" alt="Bicicleta no estilo retrô">
        </li>
        <li class="grid-16">
          <img src="../img/portfolio/esporte.jpg" alt="Bicicleta esportiva">
        </li>
      </ul>
    </div>
    <div class="call fadeInDown" data-anime="2300">
      <p>Conheça mais o nosso portfólio</p>
      <a href="portfolio.html" class="btn">Portfólio</a>
    </div>
  </section>

  <section class="container quality">
    <h2 class="subtitle fadeInDown" data-anime="2000">Qualidade</h2>
    <img src="../img/bikcraft-qualidade.svg" alt="Bikcraft">
    <ul class="quality_list">
      <li class="grid-1-3">
        <h3>Durabilidade</h3>
        <p>Sólida como pedra, leve como o vento e resistente como o diamante, são nossos diferenciais.</p>
      </li>
      <li class="grid-1-3">
        <h3>Design</h3>
        <p>Feitas sob medida para o melhor conforto e eficiência. Adaptamos a sua Bikcraft para o seu corpo.</p>
      </li>
      <li class="grid-1-3">
        <h3>Sustentabilidade</h3>
        <p>Além de ajudar a cuidar do meio ambiente, tirando carros da rua, toda a produção é sustentável.</p>
      </li>
    </ul>
    <div class="call fadeInDown" data-anime="2300">
      <p>Conheça mais a nossa história</p>
      <a href="about.html" class="btn">Sobre</a>
    </div>
  </section>

  <section class="break">
      <blockquote class="external-quote container">
      <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana."</p>
      <cite>William Morris</cite>
      </blockquote>
  </section>

  <footer>
    <div class="footer-black">
      <div class="container">
        <div class="grid-8 footer_history">
          <h3>Nossa história</h3>
          <p>
            Quando iniciamos a Bikcraft queriamos apenas um produto que adoraríamos utilizar. Eramos apaixonados por pedalar e também por fazer as coisas com as nossas próprias mãos. Assim surgiu um sonho na garagem da nossa casa.
          </p>
        </div>

        <div class="grid-4 footer_contact">
          <h3>Contato</h3>
          <ul>
            <li>- 11 9999-9999</li>
            <li>- contato@bikcraft.com</li>
            <li>- São Paulo - SP</li>
          </ul>
        </div>

        <div class="grid-4 footer_social">
          <h3>Redes sociais</h3>
          <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <p class="grid-16 copy-text">Bikcraft 2020 - Alguns direitos reservados.</p>
      </div>
    </div>
  </footer>

  <script src="../js/simple-slide.js"></script>
  <script src="../js/simple-anime.js"></script>
  <script src="../js/script.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180193644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180193644-1');
  </script>

</body>
</html>