<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bikcraft - Portfólio - Conheça o portfólio de clientes</title>
  <meta name="description" content="Conheça o nosso portfólio de clientes que tanto amamos!">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bikcraft - Portfólio - Conheça o portfólio de clientes"/>
  <meta property="og:description" content="Conheça o nosso portfólio de clientes que tanto amamos!"/>
  <meta property="og:url" content="http://devmagno.github.io/bikcraft/portfolio.html"/>
  <meta property="og:image" content="http://devmagno.github.io/bikcraft/img/og-image.png"/>
  <meta property="og:site_name" content="Bikcraft"/>
  
  <script src="https://kit.fontawesome.com/77daa57238.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#FEC63E">

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/style.css">
  <script>document.documentElement.classList.add("js")</script>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="index.html" class="grid-2">
        <img src="../img/bikcraft.svg" alt="Bikcraft">
      </a>
      <nav class="header_menu grid-14">
        <ul>
          <li><a href="about.html">Sobre</a></li>
          <li><a href="products.html">Produtos</a></li>
          <li><a href="portfolio.html" class="menu_active">Portfólio</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="internal-intro internal-portfolio">
    <div class="container">
      <h1 data-anime="400" class="fadeInDown">Portfólio</h1>
      <p data-anime="800" class="fadeInDown">Conheça os projetos que amamos mostrar</p>
    </div>
  </section>

  <section class="container fadeInDown" data-anime="1000" data-slide="quote">
    <blockquote class="costumer_quote">
      <p>“Pedalar sempre foi a minha paixão, o que o pessoal da Bikcraft fez foi intensificar o meu amor por esta atividade. Recomendo à todos que amo.”</p>
      <cite>Barbara Moss</cite>
    </blockquote>
    <blockquote class="costumer_quote">
      <p>“Nada melhor do que dar um rolê com a minha Bikcraft na orla. Essa é a minha companheira mais fiel, nunca me traiu e está sempre a minha disposição.”</p>
      <cite>Jhony Rato</cite>
    </blockquote>
    <blockquote class="costumer_quote">
      <p>“Aqueles que ainda não possuem uma Bikcraft, não sabem o que estão perdendo. A precisão é absurda e a velocidade transcendental. Nunca vida nada igual.”</p>
      <cite>Bernardo Ribeiro</cite>
    </blockquote>
  </section>
  


  <section class="portfolio">
    <div class="container fadeInLeft" data-anime="1200" data-slide="portfolio">
      <ul class="portfolio_items">
        <li class="grid-8">
          <img src="../img/portfolio/retro.jpg" alt="Bicicleta no estilo retrô">
        </li>
        <li class="grid-8">
          <img src="../img/portfolio/passeio.jpg" alt="Bicicleta de passeio">
        </li>
        <li class="grid-16">
          <img src="../img/portfolio/esporte.jpg" alt="Bicicleta esportiva">
        </li>
      </ul>
      <ul class="portfolio_items">
        <li class="grid-8">
          <img src="../img/portfolio/passeio.jpg" alt="Bicicleta de passeio">
        </li>
        <li class="grid-8">
          <img src="../img/portfolio/retro.jpg" alt="Bicicleta no estilo retrô">
        </li>
        <li class="grid-16">
          <img src="../img/portfolio/esporte.jpg" alt="Bicicleta esportiva">
        </li>
      </ul>
    </div>
  </section>

  <section class="break">
    <blockquote class="external-quote container">
    <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana."</p>
    <cite>William Morris</cite>
    </blockquote>
  </section>
  <footer>
    <div class="footer-black">
      <div class="container">
        <div class="grid-8 footer_history">
          <h3>Nossa história</h3>
          <p>
            Quando iniciamos a Bikcraft queriamos apenas um produto que adoraríamos utilizar. Eramos apaixonados por pedalar e também por fazer as coisas com as nossas próprias mãos. Assim surgiu um sonho na garagem da nossa casa.
          </p>
        </div>

        <div class="grid-4 footer_contact">
          <h3>Contato</h3>
          <ul>
            <li>- 11 9999-9999</li>
            <li>- contato@bikcraft.com</li>
            <li>- São Paulo - SP</li>
          </ul>
        </div>

        <div class="grid-4 footer_social">
          <h3>Redes sociais</h3>
          <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <p class="grid-16 copy-text">Bikcraft 2020 - Alguns direitos reservados.</p>
      </div>
    </div>
  </footer>

  <script src="../js/simple-slide.js"></script>
  <script src="../js/simple-anime.js"></script>
  <script src="../js/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180193644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180193644-1');
  </script>
</body>
</html>