<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bikcraft - Produtos - Conheça os modelos Passeio, Retrô e Esporte</title>
  <meta name="description" content="Conheça nossas linhas Passeio, Retrô e Esporte e escolha a melhor Bikcraft para você!">

  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bikcraft - Produtos - Conheça os modelos Passeio, Retrô e Esporte"/>
  <meta property="og:description" content="Conheça nossas linhas Passeio, Retrô e Esporte e escolha a melhor Bikcraft para você!"/>
  <meta property="og:url" content="http://devmagno.github.io/bikcraft/products.html"/>
  <meta property="og:image" content="http://devmagno.github.io/bikcraft/img/og-image.png"/>
  <meta property="og:site_name" content="Bikcraft"/>

  <script src="https://kit.fontawesome.com/77daa57238.js" crossorigin="anonymous"></script>

  <meta name="theme-color" content="#FEC63E">

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/style.css">
  <script>document.documentElement.classList.add("js")</script>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="index.html" class="grid-2">
        <img src="../img/bikcraft.svg" alt="Bikcraft">
      </a>
      <nav class="header_menu grid-14">
        <ul>
          <li><a href="about.html">Sobre</a></li>
          <li><a href="products.html" class="menu_active">Produtos</a></li>
          <li><a href="portfolio.html">Portfólio</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="internal-intro internal-products">
    <div class="container">
      <h1 data-anime="400" class="fadeInDown">Produtos</h1>
      <p data-anime="800" class="fadeInDown">Conheça todos os nossos produtos</p>
    </div>
  </section>


  <section class="container products_item fadeInLeft" data-anime="1000">
    <div class="grid-11">
      <img src="../img/produtos/bikcraft-passeio-1.jpg" alt="Bicicleta de passeio">
      <h2>Passeio</h2>
    </div>
    <div class="grid-5 product_icon">
      <img src="../img/produtos/passeio.svg" alt="Bikcraft passeio">
    </div>
    <div class="grid-8">
      <img src="../img/produtos/bikcraft-passeio-2.jpg" alt="Bicicleta de passeio">
    </div>
    <div class="grid-8 product_info">
      <p>
        Muito melhor do que passear pela orla a vidros fechados. A Bikcraft Passeio é uma bicicleta que une conforto e praticidade para o seu dia a dia. Você nunca mais vai querer saber de outra.
      </p>
      <ul>
        <li>Conforto</li>
        <li>Praticidade</li>
        <li>Design</li>
        <li>Versatilidade</li>
      </ul>
    </div>
  </section>

  <section class="container products_item fadeInLeft" data-anime="1100">
    <div class="grid-11">
      <img src="../img/produtos/bikcraft-esporte-1.jpg" alt="Bicicleta esportiva">
      <h2>Esporte</h2>
    </div>
    <div class="grid-5 product_icon">
      <img src="../img/produtos/esporte.svg" alt="Bikcraft esporte">
    </div>
    <div class="grid-8">
      <img src="../img/produtos/bikcraft-esporte-2.jpg" alt="Bicicleta esportiva">
    </div>
    <div class="grid-8 product_info">
      <p>
        Mais rápida do que Forrest Gump, ninguém vai pegar você. A Bikcraft Esporte é uma bicicleta desenhada para a máxima performance. O seu desempenho supera qualquer uma da categoria.
      </p>
      <ul>
        <li>Precisão</li>
        <li>Velocidade</li>
        <li>Design</li>
        <li>Versatilidade</li>
      </ul>
    </div>
  </section>

  <section class="container products_item fadeInLeft" data-anime="1300">
    <div class="grid-11">
      <img src="../img/produtos/bikcraft-retro-1.jpg" alt="Bicicleta retrô">
      <h2>Retrô</h2>
    </div>
    <div class="grid-5 product_icon">
      <img src="../img/produtos/retro.svg" alt="Bikcraft retrô">
    </div>
    <div class="grid-8">
      <img src="../img/produtos/bikcraft-retro-2.jpg" alt="Bicicleta retrô">
    </div>
    <div class="grid-8 product_info">
      <p>
        
O passado volta para lembrarmos o que devemos fazer no futuro. A Bikcraft Retrô é uma bicicleta estiloza, feita para você que gosta do clássico, mas que não abre mão do conforto.
      </p>
      <ul>
        <li>Conforto</li>
        <li>Velocidade</li>
        <li>Design</li>
        <li>Versatilidade</li>
      </ul>
    </div>
  </section>

  <section class="orcamento">
    <div class="container">
      <h2 class="subtitle">Orçamento</h2>
      <form id="form_orcamento" class="form grid-8 formphp" method="POST" action="enviar-sendgrid.php">
        <label for="name">Nome</label>
        <input type="text" id="name" name="nome" required>
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>
        <label for="tel">Telefone</label>
        <input type="tel" id="tel" name="tel" required>
        <label for="leaveBlank1" class="hidden">Se você não é um robô, deixe em branco</label>
        <input type="text" id="leaveBlank1" name="leaveBlank1" class="hidden">
        <label for="leaveBlank2" class="hidden">Se você não é um robô, não mude este campo</label>
        <input type="text" id="leaveBlank2" name="leaveBlank2" class="hidden" value="http://">
        <label for="spec">Especificações</label>
        <textarea id="spec" cols="30" rows="5" name="spec" required></textarea>
        <button type="submit" class="btn" id="send" name="send">Enviar</button>
      </form>
      <div class="data grid-8">
        <h3>Dados</h3>
        <span>+55 11 9999-9999</span>
        <span>orcamento@bikcraft.com</span>
        <h3>Monte a sua Bikcraft</h3>
        <p>Escolha as especificações</p>
        <ul>
          <li>- Cores</li>
          <li>- Estilo</li>
          <li>- Acessórios</li>
          <li>- Medidas</li>
          <li>- E outros</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="break">
    <blockquote class="external-quote container">
    <p>"O verdadeiro segredo da felicidade está em ter um genuíno interesse por todos os detalhes da vida cotidiana."</p>
    <cite>William Morris</cite>
    </blockquote>
  </section>
  <footer>
    <div class="footer-black">
      <div class="container">
        <div class="grid-8 footer_history">
          <h3>Nossa história</h3>
          <p>
            Quando iniciamos a Bikcraft queriamos apenas um produto que adoraríamos utilizar. Eramos apaixonados por pedalar e também por fazer as coisas com as nossas próprias mãos. Assim surgiu um sonho na garagem da nossa casa.
          </p>
        </div>

        <div class="grid-4 footer_contact">
          <h3>Contato</h3>
          <ul>
            <li>- 11 9999-9999</li>
            <li>- contato@bikcraft.com</li>
            <li>- São Paulo - SP</li>
          </ul>
        </div>

        <div class="grid-4 footer_social">
          <h3>Redes sociais</h3>
          <ul>
            <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <p class="grid-16 copy-text">Bikcraft 2020 - Alguns direitos reservados.</p>
      </div>
    </div>
  </footer>

  <script src="../js/simple-anime.js"></script>
  <script src="../js/simple-form.js"></script>
  <script src="../js/script.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180193644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180193644-1');
  </script>
</body>
</html>