.internal-products {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.products_item {
  padding-top: 60px;
}
.products_item h2 {
  color: var(--white);
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: -180px;
  text-align: center;
  margin-bottom: -55px;
}

.products_item h2::after, .products_item h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--white);
  margin: 6px auto 8px auto;
}

.product_icon {
  background: var(--black);
  padding: 70px 0;
}
.product_icon img {
  margin: 0 auto;
}

.product_info {
	background-color: var(--black);
}

.product_info p{
	color: var(--white);
	font-size: 18px;
	line-height: 25px;
	height: 180px;
	padding: 30px 30px;
}

.product_info ul li {
	background: var(--main-yellow);
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	float: left;
	width: 229px;
	height: 49px;
	text-align: center;
	padding-top: 16px;
}
.product_info ul li:nth-child(1), .product_info ul li:nth-child(2) {
  margin-bottom: 2px;
}
.product_info ul li:nth-child(odd) {
  margin-right: 2px;
}

.subtitle {
  color: var(--main-yellow);
}
.subtitle::after {
  background: var(--main-yellow);
}

.orcamento {
  background: var(--black);
  color: var(--white);
  width: 100%;
  margin-top: 60px;
  padding: 30px 0;
}
.form {
  padding-right: 60px;
}
.form label {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.form input, .form textarea {
  background: none;
  border: 3px solid var(--main-yellow);
  color: var(--white);
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  margin-bottom: 10px;
  outline: none;
  padding: 7px 10px;
  width: 100%;
}
.form textarea {
  resize: vertical;
  min-height: 40px;
  max-height: 150px;
  margin-bottom: 20px;
}

.form button.btn {
  background-color: black;
  padding: 10px 40px;
}
.form button.btn:hover {
  color: var(--black);
  background-color: var(--main-yellow);
  cursor: pointer;
}

.data {
  color: var(--white);
}
.data h3 {
  color: var(--main-yellow);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.data span {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 30px;
}
.data span+span {
  margin-bottom: 40px;
}

.data p {
  margin: 20px 0 10px 0;
}
.data ul {
  padding-right: 60px;
}
.data ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}
.data ul li:nth-child(odd) {
  background-color: #1d1d1d;
}